<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Web Application</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
  </head>
  <body>
    <header>
      <div class="site-name">
        MakersBnB
      </div>
      <nav>
        <a href="#">About</a>
        <a href="#">Login</a> 
      </nav>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
