<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Markersbnb</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <header class="flex-h">
      <div class="site-name">
        <a href="/"><img class="logo" src="/makersbnb-transp-small.png" alt="makersbnb logo"></a>
      </div>
      <nav>
      <% if session[:user_id] %>
          <a href="/spaces/new">List a Space</a>
          <a href="/spaces">Spaces</a>
          <a href="#">Requests</a>
          <a href="/sign_out">Sign out</a> 
      <% else %>
          <a href="#">About</a>
          <a href="/login">Login</a> 
      <% end %>
      </nav>
    </header>
    <div class="container">
      <%= yield %>
    </div>
    <footer>
    &copy; MakersBnB 2022
    </footer>
  </body>
</html>
