<h1> Login to MakersBnB </h1>
  <form action="/registrations/login" method = "POST" enctype="multipart/form-data">
    <label for="email">Enter Email</label>
    <br>
    <input type="text" id="email" name="email">
    <br>
    <label for="password">Enter Password</label>
    <br>
    <input type="password" id="password" name="password">
    <br>
    <input type="submit" value="Login">
  </form>

  <a href="/">Don't have an account? Click here to sign up!</a>