<h1>Requested spaces</h1>

<% if requests.empty?%>
There are no space requests.
<% else %>
  <% requests.map do |request| %>
  <div>
    <% p request.space_id %>
    <% p request.visitor_id %>
    <% p request.date %>
    <% p request.id %>
    <h2>Requested: <%= spaces_table.get(request.space_id).title %></h2>
    <p>On : <%= request.date %></p>
    <p>On : <%= request.space_id %></p>
    <p>By : <%= request.visitor_id %></p>
  </div>
  <% end %>
<% end %>