<h1> Sign up to MakersBnB </h1>
  <form action="/registrations" method = "POST" enctype="multipart/form-data">
    <label for="email">Enter Email</label>
    <br>
    <input type="text" id="email" name="email">
    <br>
    <label for="password">Enter Password</label>
    <br>
    <input type="password" id="password" name="password">
    <br>
    <label for="password_confirmation">Confirm Password</label>
    <br>
    <input type="password" id="password_confirmation" name="password_confirmation">
    
    <input type="submit" value="Sign up!">
  </form>