<h1>Book a Space</h1>

<form action="/spaces/search" method="POST">
  <label for="from">Available from:</label>
  <input type="date" id="from" name="from">
  <br>
  <label for="until">Available until:</label>
  <input type="date" id="until" name="until">
  <br>
  <input type="submit" value="List Spaces">
</form>

<% if spaces.empty?%>
There are no spaces available.
<% else %>
  <% spaces.map do |space| %>
  <a class="space-link" id="space-link" href="/spaces/<%= space.id %>">
  <div class="space-search-entry">
    <h3><%= space.title %></h3>
    <%= space.description %>
  </div>
  </a>
  <% end %>
<% end %>