body {
  width: 80%;
  margin: 0 auto;
}

.space-image {
  width: 320px;
}

.flex-h {
  margin: 1rem 0.5rem 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.25rem;
}

.logo {
  width: 120px;
}

.space-search-entry {
  margin-top: 0.5rem;
  padding: 0.5rem;
  color: #bbb;
  background-color: #444;
  border: 2px #bb5A5F solid;
  border-radius: 0.75rem;
}

.space-link {
  text-decoration: none;
}

h3 {
  padding: 0;
  margin: 0;
}