<div class="registration">
<h2> Login to MakersBnB </h2>
  <form action="/registrations/login" method="POST">
    <label for="email">Enter Email</label>
    <input class="form-top-row" type="text" id="email" name="email" placeholder="Email">
    <label for="password">Enter Password</label>
    <input class="form-bottom-row" type="password" id="password" name="password" placeholder="Password">
    <button class="fancy_button" type="submit">Log In</button>
  </form>
  <a class="add-margin" href="/">Don't have an account? Click here to sign up!</a>
</div>