<h1>Requests</h1>

<% if requests.empty?%>
There are no space requests.
<% else %>
  <h2> Requests I have made </h2>
  <%requests.map do |request| %>
    <% if request.user_id == session[:user_id]%> 
    <div>
      <h3><%= Space.find_by(id: request.space_id).title %></h3>
      <p>On : <%= request.date %></p>
      <p>By : <%= User.find_by(id: request.user_id).email %></p>
    </div>
    <br>
    <% end %>
  <% end %>
<% end %>
