<h1>Request to book: <%= space.title %></h1>

<form action="/requests" method="POST">
  <label for="date">Choose date:</label>
  <br>
  <input type="date" id="date" name="date" min="<%= space.date_from.strftime("%F") %>" max="<%= space.date_to.strftime("%F") %>">
  <br>
  <input type="hidden" id="space_id" name="space_id" value="<%= space.id %>">

  <input type="submit" value="Submit request">
</form>