
<div class="form-wrapper">
<h2> List A Space </h2>
  <form action="/spaces" method = "POST" enctype="multipart/form-data">
    <label for="title">Name</label>
    <input class="form-top-row" type="text" id="title" name="title" placeholder="Space name">
    <label for="description">Description</label>
    <textarea id="description" name="description" placeholder="Add a description"></textarea>
    <label for="price">Price per night</label>
    <input class="form-bottom-row" type="text" id="price" name="price" placeholder="Price per night">
    <br>
    <h3>Availability</h3>
    <label for="date_from">Available from:</label>
    <input class="form-top-row date-from" type="date" id="date_from" name="date_from">
    <label for="date_to">Available until:</label>
    <input class="form-bottom-row date-to" type="date" id="date_to" name="date_to">
    <br>
    <label for="file">Photo</label>
    <input class="file-input add-margin" type="file" id="file" name="file">
    <button class="fancy_button" type="submit">List my space</button>
  </form>
  </div>